.dots:hover i {
  font-size: 110%;
  color: #fff;
}

.search:hover,
.search:hover > i {
  background-color: #261833;
  color: #fff;
}

.search:hover > i {
  font-size: 110%;
}

@keyframes myAnimation {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  50% {
    opacity: 0.5;
    transform: rotateX(0deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
